* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

button {
    cursor: pointer;
}

.main {
    background-image: url(Background-image.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 98vh;
    position: relative;
}

.main .box {
    height: 98vh;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 75vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

nav img {
    color: red;
    width: 190px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 20px;
    padding: 30px;
}

.hero> :nth-child(1) {
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 45px;
    text-align: center;
}

.hero :nth-child(2) {
    font-weight: 400px;
    font-size: 24px;
    text-align: center;
}

.hero :nth-child(3) {
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}

.sepration {
    height: 8px;
    background-color: rgb(40, 40, 40);
}

.btn {
    padding: 5px 30px 5px 30px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 4px;
}

.btn-red {
    background-color: red;
    padding: 12px 60px 12px 14px;
    font-size: 20px;
    border-radius: 4px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    background-color: rgba(0, 0, 0, 0.401);
    color: white;
    padding: 17px 170px 17px 14px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid rgb(99, 99, 99);
}

.btn-red-sm {
    background-color: red;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    color: white;
    margin: 15px 95px 15px 95px;
    padding: 50px;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 38vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    width: 29vw;
    top: 50px;
    right: 50px;
}

section.first>div {
    display: flex;
    flex-direction: column;
}

section.first>div :first-child {
    font-size: 48px;
    font-weight: bold;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 500;
}

.faq {
    color: white;
}

.faq h2 {
    font-size: 48px;
    text-align: center;
    padding: 50px 20px 30px 20px;
}

.faqBox {
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: rgb(60, 60, 60);
    padding: 27px;
    max-width: 70vw;
    margin: 10px auto 10px auto;
    font-size: 25px;
    cursor: pointer;
}

.faqBox:hover{
    background-color: rgb(99, 99, 99);
}

svg {
    color: white;
}

footer span {
    color: white;
    max-width: 60px;
    margin: auto;
    padding: 14px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a{
    font-size: 14px;
    color: rgb(143, 143, 143);
}

.footer-item {
    display: flex;
    flex-direction: column;
}